<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="mycargo.wladek.com.mycargo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity
            android:name=".activities.SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.LoginActivity"
            android:label="Login"></activity>
        <activity
            android:name=".activities.HomeActivity"
            android:label="Profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.RegisterActivity"
            android:label="Register" />
        <activity
            android:name=".activities.PasswordActivity"
            android:label="Manage password" />
        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/title_activity_settings"></activity>
    </application>

</manifest>